/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--fonte-padrao: 'Sanchez', serif;
	--fonte-tamanho: 16px;
}

body {
	font-family: var(--fonte-padrao);
	font-size: var(--fonte-tamanho);
}

header {
	height: 150px;
	padding: 10px 5px;
	display: flex;
	align-items: center;
	align-content: space-between;
}

.titulo__blog {
	font-family: 'Modak', cursive;
	font-size: 50px;
	color: #231F20;
	flex: 2;
}
.titulo__blog-logo{
	flex: 1;
	height: 100%;
	width: 100%;
	max-width: 110px;
	margin: 0 15px;
}

.navbar {
	margin-bottom: 20px;
}

@media (min-width: 480px) {
	.navbar {
		padding: 10px;
	}
}

@media (min-width: 768px) {
	.navbar {
		position: absolute;
		top: 0;
		left: 0;
	}
}

@media (min-width: 992px) {
	.navbar {
		position: fixed;
	}
}

/* EFEITOS */

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

.fade-out {
	opacity: 0;
	animation-name: fadeOut;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}